[Unit]
Description=MQTT-UDP bridge service for SC-Sat1
After=network.service

[Service]
Type=simple
Environment="PYTHONPATH=/home/yamcs/.local/share/virtualenvs/yamcs-aUGU5slm/lib/python3.12/site-packages/"
ExecStart=python3 /usr/local/bin/mqtt_udp_bridge.py --udp_recv_port 52002 --udp_send_port 52004
ExecStop=/bin/kill -WINCH ${MAINPID}
User=yamcs
Group=yamcs
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
